/*
Name: Google News SASS
Version: 1.0
*/

@import "colors.scss"; /*Colors SASS file*/
@import "mixin.scss"; /*Mixin SASS file*/
@import "fonts.scss"; /*Fonts SASS file*/
@import "header.scss"; /*Header SASS file*/
@import "articles.scss"; /*Articles SASS file*/

html {
  width: 100%;
  margin: 0;
  border-top: 2px solid $link-hover;
}

body {
  width: 100%;
  overflow-x: hidden;
  display: block;
  clear: both;
  padding: 0;
  margin: 0px auto;
  box-sizing: border-box;
  font-family: $primary-font;
  font-size: 14px;
  color: black;
}

@media screen and (max-width: 1024px) {
  /*All Devices*/

  html.touch *:hover {
    pointer-events: none !important;
  }

  html,
  body {
    width: 100% !important;
    margin: 0px !important;
    overflow-x: hidden !important;
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
  }

  body {
    margin: 0 0 20px;
    height: auto;
    min-height: 100%;
  }
}

#content {
  width: 100%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

//******---- GRUPPENS CSS ----******//

/*----contact heading using mixing ----*/

@mixin flex-horisontal(
  $direction: row,
  $wrap: wrap,
  $justify: space-between,
  $padding: 2rem clamp(1rem, 5vw, 4rem)
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  padding: $padding;
  gap: 2rem;
}

/*Contact container och contact cards*/

.contact-container {
  @include flex-horisontal(column, nowrap, space-between);

  h2 {
    font-family: $primary-font;
    @include size(30, 40);
  }

  .contact-block {
    @include flex-horisontal(row, wrap, space-between, 0);
    align-items: end;
  }

  .contact-card {
    h3 {
      font-style: normal;
      padding-bottom: 2rem;
    }

    address {
      font-style: normal; // reset default italics

      a {
        color: black;
      }
    }
  }
}

.hero-img {
  width: 100%;
  max-height: 30rem;
}

/* QUICK FACTS  */

.quick-facts {
  @include flex-horisontal(row, wrap, space-between, 0);
  padding: 4rem clamp(1rem, 5vw, 4rem);
  gap: 2rem;

  .card-qf {
    flex: 1 1 auto;
  }

  p {
    font-family: $primary-font;
    @include size(30, 40);
  }
}

/* OUR STORY */

.about-info {
  padding: 2rem clamp(1rem, 5vw, 4rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    font-weight: bold;
    font-size: 20;
  }
}

/* MAP */

.map-wrapper {
  padding: 4rem clamp(1rem, 5vw, 4rem);
  margin: 0 auto;
  border-bottom: 1px solid $grey;
}

@media screen and (max-width: 1024px) {
  .map-wrapper {
    padding: 0;
    width: 100%;
  }
  .quick-facts .card-qf {
    flex: 1 1 45%; /* 2 kort per rad */
  }
}

@media screen and (max-width: 600px) {
  .map-wrapper iframe {
    height: 300px;
  }
  .quick-facts {
    flex-direction: column; /* Kolumnlayout */
    align-items: left;
  }

  .quick-facts .card-qf {
    flex: 1 1 100%;
    max-width: 400px;
  }
}

/*----Personkort grid----*/

.team-section {
  padding: 2rem clamp(1rem, 5vw, 4rem);

  h2 {
    font-weight: bold;
    font-size: 20;
    margin-bottom: 2rem;
  }

  .staff-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-template-rows: repeat(auto-fit, auto);
    place-items: center;
    text-align: start;
    gap: 20;

    article {
      max-width: 100%;
      height: 21rem;

      img {
        width: 100%;
        height: 18rem;
        object-fit: cover;
      }

      h2 {
        margin-bottom: 0rem;
      }
    }
  }
}

/*------FOOTER-----*/

footer {
  width: 100%;
  min-height: 10rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem clamp(1rem, 5vw, 4rem);
  border-top: 1px solid black;
  flex-wrap: wrap;

  div {
    flex: 1; // keeps equal widths
    min-width: 240px;
    padding-top: 1rem;

    h3 {
      padding-bottom: 2rem;
    }

    a {
      @extend .paragraph;
      color: black !important;
    }
  }
}
