/*
Name: Google News SASS
Version: 1.0
*/

@import "colors.scss"; /*Colors SASS file*/
@import "mixin.scss"; /*Mixin SASS file*/
@import "fonts.scss"; /*Fonts SASS file*/
@import "header.scss"; /*Header SASS file*/
@import "articles.scss"; /*Articles SASS file*/

html {
  width: 100%;
  margin: 0;
  border-top: 2px solid $link-hover;
}

body {
  width: 100%;
  overflow-x: hidden;
  display: block;
  clear: both;
  padding: 0;
  margin: 0px auto;
  box-sizing: border-box;
  font-family: $primary-font;
  font-size: 13pt;
  color: black;
}

/*----contact heading using mixing ----*/
// CAN ALSO BE USED IN FOOTER

@mixin flex-container(
  $direction: row,
  $wrap: wrap,
  $justify: space-between,
  $padding: 2rem
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  padding: $padding;
  gap: 2rem;
}

/*Contact cards och quick facts*/

.contact-container {
  @include flex-container(column, nowrap, space-between, 50px);
  justify-content: flex-end;

  .quick-facts {
    @include flex-container(row, wrap, space-between, 0);
  }

  address {
    font-style: normal; // reset default italics
    h3 {
      font-style: normal;
      padding-bottom: 1rem;
    }

    a {
      color: black
    }
  }
  .social-links {
      align-items: bottom;
    }
}

@media screen and (max-width: 1024px) {
  /*All Devices*/

  html.touch *:hover {
    pointer-events: none !important;
  }

  html,
  body {
    width: 100% !important;
    margin: 0px !important;
    overflow-x: hidden !important;
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
  }

  body {
    margin: 0 0 20px;
    height: auto;
    min-height: 100%;
  }
}

#content {
  width: 100%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  max-height: 387px;
}

/*----Personkort grid----*/

.team-section {
  padding: 2rem clamp(1rem, 5vw, 4rem);

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .staff-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    text-align: start;
    justify-content: space-between;
    align-items: center;
    gap: 20;

    article {
      max-width: 180px;

      img {
        width: 100%;
        height: 290px;
        object-fit: cover;
      }

      h2 {
        margin-bottom: 0rem;
      }
    }
  }

  @media (max-width: 1024px) {
    .staff-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 768px) {
    .staff-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 480px) {
    .staff-grid {
      grid-template-columns: 1fr;
    }
  }
}

/*------FOOTER-----*/

footer {
  width: 100%;
  min-height: 10rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem clamp(1rem, 5vw, 4rem);
  border-top: 1px solid black;
  flex-wrap: wrap;

  div {
    flex: 1; // keeps equal widths
    min-width: 240px;
    padding-top: 1rem;

    h3 {
      padding-bottom: 1rem;
    }

    a {
      @extend .paragraph;
      color: black !important;
    }
  }
}
